<% content_for :title do %>Edycja konta<% end %>
<h2>Edycja konta</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, "Adres e-mail" %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password, "Nowe hasełko" %> <em>(nie chcesz zmiany - zostaw puste)</em><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation, "Potwierdzenie nowego hasła" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password, "Obecne hasło" %> <em>(upewniamy się, że to Ty)<br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Aktualizuj" %></div>
<% end %>

<hr />

<h3>Usuń konto</h3>

<p>Ale... Ale jak to? Nie chcesz być z nami więcej? <%= link_to "Nie jestem zadowolony, usuwam.", registration_path(resource_name), :data => { :confirm => "Ale na pewno? Papuga będzie smutna..." }, :method => :delete %>.</p>
<hr />
<%= link_to "Powrót", :back %>
