<% content_for :title do %>Wyszukiwanie „<%= params[:search] %>”<% end %>
<h1>Wyniki wyszukiwania „<%= params[:search] %>”</h1>
<% phrases.each do |p| %>
	<%= search_result p.title, shorten_description(p)[0..100], p %>
<% end %>
<% wikiphrases.each do |title, desc| %>
	<%= search_result title, desc[0..100], show_phrase_from_wikipedia_path(title.gsub(' ', '_')), true %>
<% end %>
<% if phrases.empty? and wikiphrases.empty? %>
	<p>Brak wyników wyszukiwania.</p>
	<p>Może interesuje Cię <%= link_to 'lista fraz', phrases_path %> w naszym słowniku?</p>
<% end %>