<% content_for :title do %><%= phrase.title %><% end %>
<header><h1><%= phrase.title %><% if phrase.group %> <figure class="<%= phrase.group.slug %>-article"><a href="<%= phrase.group.link  %>"></a></figure><% end %></h1></header>
<section>
	<%= sanitize rendered_description(phrase) %>
</section>