<% content_for :title do %><%= phrase.title %><% end %>
<% content_for :header_right do %><% if phrase.group %><a href="<%= phrase.group.link %>"><%= phrase.group.title %></a><% end %><% end %>
<header><h1><%= phrase.title %></h1></header>
<section>
	<%= sanitize rendered_description(phrase) %>
</section>