<% content_for :title do %><%= phrase.title %><% end %>
<header><h1><%= phrase.title %> <figure class="<%= if phrase.group phrase.group.slug else "none" %>-article"><a href="<%= phrase.group.link %>"></a></figure></h1></header>
<section>
	<%= sanitize rendered_description(phrase) %>
</section>