<!doctype html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Alegreya:400italic,400,700|Alegreya+SC&subset=latin-ext' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta charset="utf-8" />
		<title><%= yield :title %> - PPuga - przedsiębiorczy słownik</title>
	</head>
	<body>
		<div class="book">
			<div class="side left">
				<div class="corner top left">
					<div class="horizontal"></div>
				</div>
				<div class="part left">
					<div class="border left"></div>
					<div class="page">
						<header class="search">Wyszukiwanie</header>
							<div id="search-results" class="scroll">
								<div class="element search">
									<form action="">
										<input id="search" type="search" name="search" placeholder="Szukaj..." autocomplete="off" />
										<button type="submit" onClick="javascript:search()"><%= image_tag("magnifier.png") %></button>
									</form>
								</div>

							</div>
					</div>
				</div>
				<div class="corner bottom left">
					<div class="horizontal"></div>
				</div>
			</div>
			<div class="merge">
				<div class="horizontal top"></div>
				<div class="center"></div>
				<div class="horizontal bottom"></div>
			</div>
			<div class="side right">
				<div class="corner top right">
					<div class="horizontal"></div>
				</div>
				<div class="part right">
					<div class="border right"></div>
					<div class="page left">
						<header><%= yield :header_right %></header>
						<article class="scroll">
							<%= yield %>
						</article>
					</div>
				</div>
				<div class="corner bottom right">
					<div class="horizontal"></div>
				</div>
			</div>
		</div>
		<%= javascript_include_tag "application" %>
		<script>

		</script>
	</body>
</html>