<!DOCTYPE html>
<html>
<head>
  <title>Ppuga</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header style="text-align: right;">
<% if author_signed_in? %>
Zalogowano jako: <%= current_member.name %>
<% else %>
Niezalogowano.
<% end %>
</header>
<% if notice %><p class="notice"><%= notice %></p><% end %>
<% if alert %>       <p class="alert"><%= alert %></p><% end %>
<%= yield %>

</body>
</html>
